server:
  port: 8081

spring:
  application:
    name: microservicio-peliculas
  datasource:
    url: jdbc:sqlserver://localhost:1434;databaseName=CineDb;encrypt=false;trustServerCertificate=true
    username: sa
    password: 1125
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true